bai1/bai1day/src/conf/xml-resources/web-service-references/UserWebService/wsdl/localhost_8080/bai1day/UserWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://user.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://user.com/" name="UserWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://user.com/" schemaLocation="http://localhost:8080/bai1day/UserWebService?xsd=1" />
</xsd:schema>
</types>
<message name="thanh-toan">
<part name="parameters" element="tns:thanh-toan" />
</message>
<message name="thanh-toanResponse">
<part name="parameters" element="tns:thanh-toanResponse" />
</message>
<message name="getUserById">
<part name="parameters" element="tns:getUserById" />
</message>
<message name="getUserByIdResponse">
<part name="parameters" element="tns:getUserByIdResponse" />
</message>
<message name="getListUser">
<part name="parameters" element="tns:getListUser" />
</message>
<message name="getListUserResponse">
<part name="parameters" element="tns:getListUserResponse" />
</message>
<portType name="UserWebService">
<operation name="thanh-toan">
<input wsam:Action="http://user.com/UserWebService/thanh-toanRequest" message="tns:thanh-toan" />
<output wsam:Action="http://user.com/UserWebService/thanh-toanResponse" message="tns:thanh-toanResponse" />
</operation>
<operation name="getUserById">
<input wsam:Action="http://user.com/UserWebService/getUserByIdRequest" message="tns:getUserById" />
<output wsam:Action="http://user.com/UserWebService/getUserByIdResponse" message="tns:getUserByIdResponse" />
</operation>
<operation name="getListUser">
<input wsam:Action="http://user.com/UserWebService/getListUserRequest" message="tns:getListUser" />
<output wsam:Action="http://user.com/UserWebService/getListUserResponse" message="tns:getListUserResponse" />
</operation>
</portType>
<binding name="UserWebServicePortBinding" type="tns:UserWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="thanh-toan">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getUserById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getListUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="UserWebService">
<port name="UserWebServicePort" binding="tns:UserWebServicePortBinding">
<soap:address location="http://localhost:8080/bai1day/UserWebService" />
</port>
</service>
</definitions>