bai1/bai1day/src/conf/xml-resources/web-service-references/UserWebService/wsdl/localhost_8080/bai1day/UserWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://user.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://user.com/">

<xs:element name="getListUser" type="tns:getListUser" />

<xs:element name="getListUserResponse" type="tns:getListUserResponse" />

<xs:element name="getUserById" type="tns:getUserById" />

<xs:element name="getUserByIdResponse" type="tns:getUserByIdResponse" />

<xs:element name="thanh-toan" type="tns:thanh-toan" />

<xs:element name="thanh-toanResponse" type="tns:thanh-toanResponse" />

<xs:complexType name="thanh-toan">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0" />
<xs:element name="price" type="xs:double" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="thanh-toanResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getListUser">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getListUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="cvc" type="xs:int" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="kieuThe" type="xs:string" minOccurs="0" />
<xs:element name="namHetHan" type="xs:string" minOccurs="0" />
<xs:element name="soThe" type="xs:string" minOccurs="0" />
<xs:element name="tenChuThe" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserById">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>